[Unit]
Description=Start nextstrain
Requires=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/richardellis/
Type=simple
ExecStart=/home/richardellis/.npm-global/bin/auspice view --datasetDir /home/richardellis/NextstrainData/jsonExport

[Install]
WantedBy=multi-user.target