[Unit]
Description=Start nextstrain
Requires=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/ranch-159/
Type=simple
ExecStart=export port 4001 && /home/ranch-159/.npm-global/bin/auspice view --datasetDir /home/ranch-159/NextstrainData/jsonExport

[Install]
WantedBy=multi-user.target