[Unit]
Description=Start nextstrain
Requires=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/ranch-869
Environment="PORT=4002"
Type=simple
ExecStart=/home/ranch-869/.config/nvm/versions/node/v22.14.0/bin/auspice view --datasetDir /home/ranch-869/NextstrainData/jsonExport/training/

[Install]
WantedBy=multi-user.target