[Unit]
Description=Record daily viewbovis analytics
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=sudo python3.8 /home/nickpestell/apha-csu/repos/ViewBovis/parse_nginx_log.py

[Install]
WantedBy=halt.target reboot.target shutdown.target