[Unit]
Description=Start viewbovis (BETA)
Requires=network-online.target
After=network-online.target download_viewbovis_data.service

[Service]
WorkingDirectory=/home/ranch-159/ViewBovis/server/
Type=simple
ExecStart=bash deploy.sh /ViewBovis/ prod

[Install]
WantedBy=multi-user.target