[Unit]
Description=Record daily viewbovis analytics
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=sudo python3 /home/ranch-869/ViewBovis/server/parse_nginx_log.py

[Install]
WantedBy=halt.target reboot.target shutdown.target