/app/__pycache__/
/app/tests/__pycache__/

#ignore node modulus of the react app version
/app/front_end/node_modules/

/app/front_end/auspice

.vscode/
data/
/app/front_end/node_modules
static/data/
.github/CODEOWNERS
bin
lib
pyvenv.cfg