.display-value {
    text-align: left;
    display: inline;
    font-weight: bold;
    font-size: 20px;
}

.display-value-fixed {
    display: inline;
    font-weight: bold;
    font-size: 15px;
}

input[type="range"] {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: var(--apha-green);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--apha-green);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    transition: .1s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
    border: 2px solid white;
    transform: scale(1.3);
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(0.95);
}

/* Leaflet popups: related markers */
.relatedPopupOptions .leaflet-popup-tip,
.relatedPopupOptions .leaflet-popup-content-wrapper {
    background: white;
    opacity: 0.85;
    color: black;
}

.leaflet-container {
    transition: transform 0.3s ease;
}

/* ---------------------- */
/* Other CSS */
/* ---------------------- */

#snpmap-spinner-container {
    display: inline-flex;
    margin-top: 4px;
    padding-left: 20px;
}

#btn__plot-related-isolates {
    margin-bottom: 10px;
}

#snpmap-warning-text {
    color: var(--apha-orange);
    font-size: 20px;
}

.snp-table-toggle {
    width: 147px !important;
    font-size: 20px;
    font-weight: bold;
    padding-right: 16px;
    padding-left: 16px;
}

#snpmap-content-container {
    padding-right: 0;
}

#table-content-container {
    max-height: 63%;
}

#table-content-container.tabulator {
    font-size: 0.8em;
}

#table-content-container input {
    padding: 0 !important;
    margin-top: 4px !important;
    font-size: 0.9em;
}

#table-content-container input:focus-visible {
    outline-offset: 0;
}

.btn-snptable {
    width: fit-content;
    height: 30px;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.snp-cluster-icon {
    background-color:#00A33B;
    color: #ffffff; 
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px; 
  }

.marker-SOI {
    z-index: 906 !important;
}