.nextstrain-backbutton-container {
  padding-right: 13.5px;
}

.nextstrain-backbutton {
  font-size: 14px !important;
  height: 100%;
  width: 5px !important;
}

.nextstrain-backbutton-contents{
    display: inline-block;
    white-space: nowrap;
    transform: rotate(-90deg);
    width: 5px;
}

.nextstrain-iframe-container{
    height: 100%;
    width: 100%;
}
