@font-face{font-family:GDS Transport;font-style:normal;font-weight:400;src:url(/static/fonts/light-94a07e06a1-v2.woff2) format("woff2"),url(/static/fonts/light-f591b13f7d-v2.woff) format("woff");font-display:fallback}@font-face{font-family:GDS Transport;font-style:normal;font-weight:700;src:url(/static/fonts/bold-b542beb274-v2.woff2) format("woff2"),url(/static/fonts/bold-affa96571d-v2.woff) format("woff");font-display:fallback}

/* GOVUK Notification banner */
.govuk-notification-banner {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 30px;
    border: 5px solid #1d70b8;
    background-color: #1d70b8
}

@media print {
    .govuk-notification-banner {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-notification-banner {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.31579
    }
}

@media print {
    .govuk-notification-banner {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media (min-width: 40.0625em) {
    .govuk-notification-banner {
        margin-bottom:50px
    }
}

.govuk-notification-banner:focus {
    outline: 3px solid #fd0
}

.govuk-notification-banner__header {
    padding: 2px 15px 5px;
    border-bottom: 1px solid rgba(0,0,0,0)
}

@media (min-width: 40.0625em) {
    .govuk-notification-banner__header {
        padding:2px 20px 5px
    }
}

.govuk-notification-banner__title {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    color: #fff
}

@media print {
    .govuk-notification-banner__title {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-notification-banner__title {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.31579
    }
}
@media print {
    .govuk-notification-banner__title {
        font-size: 14pt;
        line-height: 1.15
    }
}

.govuk-notification-banner__content {
    color: #0b0c0c;
    padding: 15px;
    background-color: #fff
}

@media print {
    .govuk-notification-banner__content {
        color: #000
    }
}

@media (min-width: 40.0625em) {
    .govuk-notification-banner__content {
        padding:20px
    }
}

.govuk-notification-banner__content>* {
    box-sizing: border-box;
    max-width: 605px
}

.govuk-notification-banner__content>:last-child {
    margin-bottom: 0
}

.govuk-notification-banner__heading {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    margin: 0 0 15px;
    padding: 0
}

@media print {
    .govuk-notification-banner__heading {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-notification-banner__heading {
        font-size:24px;
        font-size: 1.5rem;
        line-height: 1.25
    }
}

@media print {
    .govuk-notification-banner__heading {
        font-size: 18pt;
        line-height: 1.15
    }
}

.govuk-notification-banner__link {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline
}

@media print {
    .govuk-notification-banner__link {
        font-family: sans-serif
    }
}

.govuk-notification-banner__link:focus {
    outline: 3px solid rgba(0,0,0,0);
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

.govuk-notification-banner__link:link,.govuk-notification-banner__link:visited {
    color: #1d70b8
}

.govuk-notification-banner__link:hover {
    color: #003078
}

.govuk-notification-banner__link:active,.govuk-notification-banner__link:focus {
    color: #0b0c0c
}

.govuk-notification-banner--success {
    border-color: #00703c;
    background-color: #00703c
}

.govuk-notification-banner--success .govuk-notification-banner__link:link,.govuk-notification-banner--success .govuk-notification-banner__link:visited {
    color: #00703c
}

.govuk-notification-banner--success .govuk-notification-banner__link:hover {
    color: #004e2a
}

.govuk-notification-banner--success .govuk-notification-banner__link:active {
    color: #00703c
}

.govuk-notification-banner--success .govuk-notification-banner__link:focus {
    color: #0b0c0c
}

/* GOVUK Warning test */
.govuk-warning-text {
    position: relative;
    margin-bottom: 20px;
    padding: 10px 0
}

@media (min-width: 40.0625em) {
    .govuk-warning-text {
        margin-bottom:30px
    }
}

.govuk-warning-text__assistive {
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    margin: 0!important;
    padding: 0!important;
    overflow: hidden!important;
    clip: rect(0 0 0 0)!important;
    -webkit-clip-path: inset(50%)!important;
    clip-path: inset(50%)!important;
    border: 0!important;
    white-space: nowrap!important
}

.govuk-warning-text__icon {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    left: 0;
    min-width: 35px;
    min-height: 35px;
    margin-top: -7px;
    border: 3px solid #0b0c0c;
    border-radius: 50%;
    color: #fff;
    background: #0b0c0c;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    forced-color-adjust: none
}

@media print {
    .govuk-warning-text__icon {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-warning-text__icon {
        margin-top:-5px
    }
}

@media screen and (forced-colors:active) {
    .govuk-warning-text__icon {
        border-color: windowText;
        color: windowText;
        background: rgba(0,0,0,0)
    }
}

.govuk-warning-text__text {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    display: block;
    padding-left: 45px
}

@media print {
    .govuk-warning-text__text {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-warning-text__text {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.31579
    }
}

@media print {
    .govuk-warning-text__text {
        font-size: 14pt;
        line-height: 1.15;
        color: #000
    }
}

/* GOVUK Form group*/
.govuk-form-group {
    margin-bottom: 20px
}

.govuk-form-group:after {
    content: "";
    display: block;
    clear: both
}

@media (min-width: 40.0625em) {
    .govuk-form-group {
        margin-bottom:30px
    }
}

.govuk-form-group .govuk-form-group:last-of-type {
    margin-bottom: 0
}

.govuk-form-group--error {
    padding-left: 15px;
    border-left: 5px solid #d4351c
}

.govuk-form-group--error .govuk-form-group {
    padding: 0;
    border: 0
}

/* GOVUK Checkbox --small*/
.govuk-checkboxes--small .govuk-checkboxes__item {
    min-height: 0;
    margin-bottom: 0;
    padding-left: 34px;
    float: left
}

.govuk-checkboxes--small .govuk-checkboxes__item:after {
    content: "";
    display: block;
    clear: both
}

.govuk-checkboxes--small .govuk-checkboxes__input {
    left: -10px
}

.govuk-checkboxes--small .govuk-checkboxes__label {
    margin-top: -2px;
    padding: 13px 15px 13px 1px;
    float: left
}

@media (min-width: 40.0625em) {
    .govuk-checkboxes--small .govuk-checkboxes__label {
        padding:11px 15px 10px 1px
    }
}

.govuk-checkboxes--small .govuk-checkboxes__label:before {
    top: 8px;
    width: 24px;
    height: 24px
}

.govuk-checkboxes--small .govuk-checkboxes__label:after {
    top: 15px;
    left: 6px;
    width: 12px;
    height: 6.5px;
    border-width: 0 0 3px 3px
}

.govuk-checkboxes--small .govuk-checkboxes__hint {
    padding: 0;
    clear: both
}

.govuk-checkboxes--small .govuk-checkboxes__conditional {
    margin-left: 10px;
    padding-left: 20px;
    clear: both
}

.govuk-checkboxes--small .govuk-checkboxes__item:hover .govuk-checkboxes__input:not(:disabled)+.govuk-checkboxes__label:before {
    box-shadow: 0 0 0 10px #b1b4b6
}

.govuk-checkboxes--small .govuk-checkboxes__item:hover .govuk-checkboxes__input:focus+.govuk-checkboxes__label:before {
    box-shadow: 0 0 0 3px #fd0,0 0 0 10px #b1b4b6
}

@media (hover: none),(pointer:coarse) {
    .govuk-checkboxes--small .govuk-checkboxes__item:hover .govuk-checkboxes__input:not(:disabled)+.govuk-checkboxes__label:before {
        box-shadow:none
    }

    .govuk-checkboxes--small .govuk-checkboxes__item:hover .govuk-checkboxes__input:focus+.govuk-checkboxes__label:before {
        box-shadow: 0 0 0 3px #fd0
    }
}

/* GOVUK Checkbox --item*/
.govuk-checkboxes__item {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
    padding-left: 40px;
    clear: left
}

@media print {
    .govuk-checkboxes__item {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-checkboxes__item {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.31579
    }
}

@media print {
    .govuk-checkboxes__item {
        font-size: 14pt;
        line-height: 1.15
    }
}

.govuk-checkboxes__item:last-child,.govuk-checkboxes__item:last-of-type {
    margin-bottom: 0
}

/* GOVUK Checkbox --input*/
.govuk-checkboxes__input {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: -2px;
    left: -2px;
    width: 44px;
    height: 44px;
    margin: 0;
    opacity: 0
}
@media (-ms-high-contrast:active),screen and (forced-colors:active) {
    .govuk-checkboxes__input:focus+.govuk-checkboxes__label:before {
        outline-color: Highlight
    }
}

.govuk-checkboxes__input:checked+.govuk-checkboxes__label:after {
    opacity: 1
}

.govuk-checkboxes__input:disabled,.govuk-checkboxes__input:disabled+.govuk-checkboxes__label {
    cursor: default
}

.govuk-checkboxes__input:disabled+.govuk-checkboxes__label,.govuk-checkboxes__input:disabled~.govuk-hint {
    opacity: .5
}

/* GOVUK Checkbox --label*/
.govuk-checkboxes__label {
    display: inline-block;
    margin-bottom: 0;
    padding: 8px 15px 5px;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

.govuk-checkboxes__label:before {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid
}

.govuk-checkboxes__label:after,.govuk-checkboxes__label:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    background: rgba(0,0,0,0)
}

.govuk-checkboxes__label:after {
    top: 11px;
    left: 9px;
    width: 23px;
    height: 12px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 5px 5px;
    border-top-color: rgba(0,0,0,0);
    opacity: 0
}

/* GOVUK Label*/
.govuk-label {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    display: block;
    margin-bottom: 5px
}

@media print {
    .govuk-label {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-label {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.31579
    }
}

@media print {
    .govuk-label {
        font-size: 14pt;
        line-height: 1.15;
        color: #000
    }
}

/* GOVUK Phase banner*/
.govuk-phase-banner {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b4b6
}

.govuk-phase-banner__content__tag {
    margin-right: 10px
}

/* GOVUK button*/
.govuk-button-group .govuk-button {
    margin-bottom: 17px
}
.govuk-button-group .govuk-button,.govuk-button-group .govuk-link {
    margin-right: 15px
}

.govuk-button {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0 0 22px;
    padding: 8px 10px 7px;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 0;
    color: #fff;
    background-color: #00703c;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}

@media print {
    .govuk-button {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-button {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1
    }
}

@media print {
    .govuk-button {
        font-size: 14pt;
        line-height: 19px
    }
}

@media (min-width: 40.0625em) {
    .govuk-button {
        margin-bottom:32px;
        width: auto
    }
}

.govuk-button:active,.govuk-button:hover,.govuk-button:link,.govuk-button:visited {
    color: #fff;
    text-decoration: none
}

.govuk-button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.govuk-button:hover {
    background-color: #005a30
}

.govuk-button:active {
    top: 2px
}

.govuk-button:focus {
    border-color: #fd0;
    outline: 3px solid rgba(0,0,0,0);
    box-shadow: inset 0 0 0 1px #fd0
}

.govuk-button:focus:not(:active):not(:hover) {
    border-color: #fd0;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 2px 0 #0b0c0c
}

.govuk-button:before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: rgba(0,0,0,0)
}

.govuk-button:active:before {
    top: -4px
}

/* GOVUK Heading*/
.govuk-heading-m {
    color: #0b0c0c;
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    display: block;
    margin-top: 0;
    margin-bottom: 15px
}

@media print {
    .govuk-heading-m {
        color: #000;
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-heading-m {
        font-size:24px;
        font-size: 1.5rem;
        line-height: 1.25
    }
}

@media print {
    .govuk-heading-m {
        font-size: 18pt;
        line-height: 1.15
    }
}

@media (min-width: 40.0625em) {
    .govuk-heading-m {
        margin-bottom:20px
    }
}

.govuk-body+.govuk-heading-m,.govuk-body+.govuk-heading-s,.govuk-body-m+.govuk-heading-m,.govuk-body-m+.govuk-heading-s,.govuk-body-s+.govuk-heading-m,.govuk-body-s+.govuk-heading-s,.govuk-list+.govuk-heading-m,.govuk-list+.govuk-heading-s {
    padding-top: 5px
}

@media (min-width: 40.0625em) {
    .govuk-body+.govuk-heading-m,.govuk-body+.govuk-heading-s,.govuk-body-m+.govuk-heading-m,.govuk-body-m+.govuk-heading-s,.govuk-body-s+.govuk-heading-m,.govuk-body-s+.govuk-heading-s,.govuk-list+.govuk-heading-m,.govuk-list+.govuk-heading-s {
        padding-top:10px
    }
}
/* GOVUK Tag*/
.govuk-tag {
    display: inline-block;
    outline: 2px solid rgba(0,0,0,0);
    outline-offset: -2px;
    color: #fff;
    background-color: #1d70b8;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1;
    padding: 5px 8px 4px
}

@media print {
    .govuk-tag {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-tag {
        font-size:16px;
        font-size: 1rem;
        line-height: 1
    }
}

@media print {
    .govuk-tag {
        font-size: 14pt;
        line-height: 1
    }
}

/* GOVUK Input*/
.govuk-input{font-family:GDS Transport,arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:400;font-size:16px;font-size:1rem;line-height:1.25;box-sizing:border-box;width:100%;height:40px;height:2.5rem;margin-top:0;padding:5px;border:2px solid #0b0c0c;border-radius:0;-webkit-appearance:none;appearance:none}@media print{.govuk-input{font-family:sans-serif}}@media (min-width:40.0625em){.govuk-input{font-size:19px;font-size:1.1875rem;line-height:1.31579}}@media print{.govuk-input{font-size:14pt;line-height:1.15}}.govuk-input:focus{outline:3px solid #fd0;outline-offset:0;box-shadow:inset 0 0 0 2px}.govuk-input::-webkit-inner-spin-button,.govuk-input::-webkit-outer-spin-button{margin:0;-webkit-appearance:none}.govuk-input[type=number]{-moz-appearance:textfield}.govuk-input--error{border-color:#d4351c}.govuk-input--error:focus{border-color:#0b0c0c}.govuk-input--width-30{max-width:29.5em}.govuk-input--width-20{max-width:20.5em}.govuk-input--width-10{max-width:11.5em}.govuk-input--width-5{max-width:5.5em}.govuk-input--width-4{max-width:4.5em}.govuk-input--width-3{max-width:3.75em}.govuk-input--width-2{max-width:2.75em}.govuk-input__wrapper{display:-ms-flexbox;display:flex}.govuk-input__wrapper .govuk-input{-ms-flex:0 1 auto;flex:0 1 auto}.govuk-input__wrapper .govuk-input:focus{z-index:1}@media (max-width:19.99em){.govuk-input__wrapper{display:block}.govuk-input__wrapper .govuk-input{max-width:100%}}.govuk-input__prefix,.govuk-input__suffix{font-family:GDS Transport,arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:400;font-size:16px;font-size:1rem;line-height:1.25;box-sizing:border-box;display:inline-block;min-width:40px;min-width:2.5rem;height:40px;height:2.5rem;padding:5px;border:2px solid #0b0c0c;background-color:#f3f2f1;text-align:center;white-space:nowrap;cursor:default;-ms-flex:0 0 auto;flex:0 0 auto}@media print{.govuk-input__prefix,.govuk-input__suffix{font-family:sans-serif}}@media (min-width:40.0625em){.govuk-input__prefix,.govuk-input__suffix{font-size:19px;font-size:1.1875rem;line-height:1.31579}}@media print{.govuk-input__prefix,.govuk-input__suffix{font-size:14pt;line-height:1.15}}@media (max-width:40.0525em){.govuk-input__prefix,.govuk-input__suffix{line-height:1.6}}@media (max-width:19.99em){.govuk-input__prefix,.govuk-input__suffix{display:block;height:100%;white-space:normal}}@media (max-width:19.99em){.govuk-input__prefix{border-bottom:0}}@media (min-width:20em){.govuk-input__prefix{border-right:0}}@media (max-width:19.99em){.govuk-input__suffix{border-top:0}}@media (min-width:20em){.govuk-input__suffix{border-left:0}}