/* ================================ */
/*
/* HOME CSS */
/*
/* ================================ */

/* ------------------- */
/* Default styles that apply to screens with a maximum height of 768px (Defra laptops) */
/* ------------------- */

/* Initialise the mouse to be disabled and scroll bar to be hidden, whilst page loads */
body {
  pointer-events: none;
  overflow: hidden;
}

/* Overlay of transparent grey, whilst the page loads */
#overlay {
  z-index: 1;
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  cursor: pointer; /* Add a pointer on hover */
}

/* Define a loading spinner, only present whilst the page loads */
#spinner {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    height:80px;
    width:80px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:10px solid rgba(0,163,59,.15);
    border-right:10px solid rgba(0,163,59,.15);
    border-bottom:10px solid rgba(0,163,59,.15);
    border-top:10px solid rgb(1, 141, 52);
    border-radius:100%;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

/* Government ALPHA Banner */
.alpha-side-margin {
    margin-left: 1px;
    margin-right: 1px;
}

/* ViewBovis Logo */
.home-logo {
    height: 90px;
    width: "auto";
}

/* ViewBovis Description */
.home-description-container {
    border-left: 10px solid #b1b4b6;
    margin-left: 10px;
    margin-top: 10px;
}
.home-description {
    margin-left: 10px;
}

/* Service Last Updated */
.home-banner-container {
    margin-bottom: 10px;
    margin-top: 10px;
}
.home-banner-content {
    height: 80px;
}

/* Box Quick-Links Content */
.home-box {
    background-color: #f2f2f2;
    border-top: 10px solid var(--apha-green);
    padding: 10px;
    font-size: 17px;
    height: 335px;
}

.home-box-about {
    height: 448px;
}

.custom-govuk-button-home {
    margin-bottom: 0;
    font-size: 15px;
}

/* Footer style */
.footer {
    bottom: -2rem;
    position: relative;
    font-size: 12px;
    background-color: #f2f2f2;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 0.5px;
    margin-right: 0.5px;
}

.help-quicklink-boxes {
    padding-top: 10px;
}

/* Apply this style to screens with a height >768px (larger laptop or desktop) */
/* @media (min-height: 768px){
    #home-view-bovis-description {
        font-size: 30px;
        font-weight: bold;
        background-color: white;
        padding: 20px;
        margin-top: 50px;
    }
    #home-help-declaration {
        font-size: 30px;
        margin-top: 50px;
    }
    .home-box {
        background-color: white;
        border-top: 10px solid var(--apha-green);
        margin-top: 50px;
        padding: 15px;
        padding-top: 10px;
        font-size: 25px;
    }
    .footer {
        bottom: -4rem;
        position: relative;
    }
} */


