.app {
  height: 100vh;
  /* border: solid; */
}

/* CATTLEMOVEMENT CSS */

#custom-container {
  /* border: solid; */
  height: 90vh;
  padding: 0%;
}

.leaflet-container {
  height: 89vh;
  /* border: solid; */
}

.sidebar.col-3  {
  padding-right: 2%;
  height: 89vh;
  overflow-y: scroll;
  overflow-x: hidden;

}

#enter-sample-container {
  background: #d1d1d1;
  padding: 10px;
  margin-bottom: 1px;
}

.accordion-button{
  font-weight: bold;
}

.checkbox{
  font-family: GDS Transport, arial, sans-serif;
  font-size: 1.1875rem;
  padding-left: 15%;
  margin-top: 4%;
}

.form-check-input {
 border: solid;
 border-radius: 0 !important;
 
}
/* .cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
} */