.app {
  height: 100vh;
  /* border: solid; */
  padding: 0px;
}

/* NAVBAR */

.navbarcomp {
  border-bottom: 0.2rem solid #00a33b;
  margin-bottom: 10px;
  padding: 0px;
}

#nav-main-title {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: -5px;
}

.navbar-brand {
  margin-right: 10px;
  padding: 1px;
}

.navbar-nav {
  margin-left: 50px;
  font-size: 18px;
  margin-bottom: -10px;
}

/* Active text styling */
a.nav-link.active {
  /* color: black !important; */
  color: white !important;
  font-weight: bold;
  background-color: #00a33b;
}

/* Non-active text styling */
a.nav-link {
  color: black;
  height: 100%;
}

/* Tab styling on hover */
a.nav-link:hover {
  color: black;
  font-weight: bold;
}

/* HOME  */

.home-logo {
  height: 90px;
  width: "auto";
}

.home-description-container {
  border-left: 10px solid #b1b4b6;
  margin-left: 10px;
  margin-top: 10px;
}

.home-description {
  margin-left: 10px;
}

.update-banner {
  margin-right: 1px;
  border: 7px solid #1d70b8;
  font-size: 1rem;
  font-family: GDS Transport, arial, sans-serif;
  font-weight: bold;
}

.update-banner p {
  margin: 5px 0;
}
.home-box {
  background-color: #f2f2f2;
  border-top: 10px solid #00a33b;
  padding: 10px;
  font-size: 17px;
  height: 335px;
}

.home-govuk-buttons {
  margin-bottom: 8px !important;
  font-size: 15px !important;
}

.footer {
  bottom: -2rem;
  position: relative;
  font-size: 12px;
  background-color: #f2f2f2;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 0.5px;
  margin-right: 0.5px;
}

/* CATTLEMOVEMENT */

#custom-container {
  /* border: solid; */
  height: 88vh;
  padding: 0%;
}

.leaflet-container {
  height: 88vh;
  /* border: solid; */
}

.sidebar.col-3 {
  height: 88vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#enter-sample-container {
  background: #d1d1d1;
  padding: 10px;
  margin-bottom: 1px;
}

.accordion-button {
  font-weight: bold;
}

.checkbox {
  font-family: GDS Transport, arial, sans-serif;
  font-size: 1.1875rem;
  padding-left: 15%;
  margin-top: 4%;
}

.form-check-input {
  border: solid;
  border-radius: 0 !important;
}
/* .cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
} */

/* SNP DISTANCE */

.snppage-logo {
  margin-left: 150px;
}

/* NEXTSTRAIN */


.nextstrainlogo {
  height: 60px;
}

.nextstrain-box {
  background-color: #f2f2f2;
  border-top: 10px solid #00a33b;
  padding: 10px;
  padding-top: 0;
  font-size: 17px;
  height: 335px;
}