/* HOME  */

.home-logo {
  height: 90px;
  width: "auto";
}

.home-description-container {
  border-left: 10px solid #b1b4b6;
  margin-left: 10px;
  margin-top: 10px;
}

.home-description {
  margin-left: 10px;
}

.update-banner {
  margin-right: 1px;
  border: 7px solid #1d70b8;
  font-size: 1rem;
  font-family: GDS Transport, arial, sans-serif;
  font-weight: bold;
}

.update-banner p {
  margin: 5px 0;
}
.home-box {
  background-color: #f2f2f2;
  border-top: 10px solid #00a33b;
  padding: 10px;
  font-size: 17px;
  height: 335px;
}

.home-govuk-buttons {
  margin-bottom: 8px !important;
  font-size: 15px !important;
}

.footer {
  bottom: -2rem;
  position: relative;
  font-size: 12px;
  background-color: #f2f2f2;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 0.5px;
  margin-right: 0.5px;
}

.home-banner-container {
  margin-bottom: 10px;
  margin-top: 25px;
}
.home-banner-content {
  height: 80px;
}
.custom-govuk-button-home {
  margin-bottom: 10px !important;
  font-size: 15px !important;
}
