.cphsearch-logo {
  position: relative;
  height: 100%;
  max-height: 100px;
  max-width: 100px;
  width: 100%;
}

.cphtable-container {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.cphtable-container::-webkit-scrollbar {
  width: 10px;
}

.cphtable-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.cphtable-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.cphtable-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tabulator-headers .tabulator-col {
  border-right: none;
  background-color: #00a33b !important;
  color: white;
}

.tabulator-header-contents {
  background-color: #00a33b !important;
}

.cphsearch-launch-tools {
  text-decoration: underline;
  color: blue;
}

.cphsearch-launch-tools:hover {
  color: darkblue;
}
