<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ViewBovis</title>
        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <!-- ================================== -->
        <!-- Navbar -->
        <!-- ================================== -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency">
                    <!-- Navbar Logo -->
                    <img src="/static/img/APHA_logo_svg.svg" alt="Logo" width="auto" height="60px" class="d-inline-block align-text-top">
                </a>
                <!-- Navbar Title -->
                <strong id="nav-main-title">ViewBovis [Official Sensitive]</strong>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Home Tab -->
                        <li class="nav-item">
                            <a class="nav-link nav-link-1" data-tab="1">Home</a>
                        </li>
                        <!-- Cattle Movement Tab -->
                        <li class="nav-item">
                            <a class="nav-link nav-link-2" data-tab="2">Cattle Movement</a>
                        </li>
                        <!-- SNP Matrix Tab -->
                        <li class="nav-item">
                            <a class="nav-link nav-link-3" data-tab="3">SNP Matrix</a>
                        </li>
                        <!-- Nextstrain Tab -->
                        <li class="nav-item">
                            <a class="nav-link nav-link-4 active" data-tab="4">Nextstrain</a>
                        </li>
                        <!-- Help and Support Tab -->
                        <li class="nav-item ">
                            <a class="nav-link nav-link-5" data-tab="5">Help and Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- ================================== -->
        <!-- Home Content -->
        <!-- ================================== -->
        <div class="container content content-1 hidden">
            <div class="row">
                <p id="home-view-bovis-description">
                    <font color="#00703c">ViewBovis</font> is a web application for exploring and visualising whole genome sequencing data from <em>Mycobacterium bovis</em> isolates. The app links genetic relatedness with geographic information to provide insights into <em>M. bovis</em> transmission.
                </p>
            </div>
            <div class="row">
                <div class="col-9">
                    <p id="home-help-declaration">
                        <!-- Element: hyperlink to help and support -->
                        Please see the <a id="hyperlink__toHelp"><font color="#0000EE">Help and Support</font></a> documentation for instructions on how to use this app.
                    </p>
                </div>
                <div class="col-3">
                    <p id="home-help-declaration">
                        <img src="/static/img/Cow_GIS_Team.svg" width="auto" height="80px">
                        <img src="/static/img/Bacteria_Hira_v2.svg" width="auto" height="60px">
                        <img src="/static/img/DNA_Hira_v2.svg" width="auto" height="70px">
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 home-box" style="margin-right: 10px;">
                    <strong>Cattle Movement Map</strong>
                    <p>
                        <br/>
                        This map presents cattle movement and the location of genetically related isolates on a map. It requires the user to enter a sample ID and a SNP distance threshold.
                    </p>
                    <p>
                        <br/>
                        <!-- Element: hyperlink to map -->
                        <a id="hyperlink__toMap"><font color="#0000EE">Link to Map</font></a>
                    </p>
                </div>
                <div class="col-6 home-box" style="margin-left: 10px;">
                    <strong>Phylogenetic Tree</strong>
                    <p>
                        <br/>
                        Nextstrain presents an interactive phylogenetic tree at the clade level with functionality to filter, zoom and download trees for target samples.
                    </p>
                    <p>
                        <br/>
                        <!-- Element: hyperlink to nextstrain -->
                        <a id="hyperlink__toNextstrain"><font color="#0000EE">Link to Nextstrain</font></a>
                    </p>
                </div>
            </div>
            <div class="footer fs-6 fw-bold text-muted">
                <div class="float-start">A Defra Digital, Data and Technology Service</div>
                <!-- // Accessibility Statement Modal -->
                <!-- // Purpose: popup information about accessibility on click -->
                <div class="float-end text-decoration-underline" data-bs-toggle="modal" data-bs-target="#accessibilityModal" style="cursor: pointer;">Accessibility Statement</div>
                <!-- Bootstrap modal -->
                <div class="modal fade" id="accessibilityModal" tabindex="-1" aria-labelledby="accessibilityModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-3 fw-bold" id="accessibilityModalLabel">Accessibility Statement for View Bovis</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body fs-6">
                          <p>
                            This application is maintained by The Animal and Plant Health Agency under XXX. We want as many people as possible to be able to use this application. For example, that means you should be able to:
                          </p>
                          </br>
                          <ul class="list-group">
                            <li class="list-group-item">Statement 1</li>
                            <li class="list-group-item">Statement 2</li>
                            <li class="list-group-item">Statement 3</li>
                            <li class="list-group-item">Statement 4</li>
                            <li class="list-group-item">Statement 5</li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn govuk-button" data-bs-dismiss="modal" style="margin-bottom: 0;">Close</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ================================== -->
        <!-- Cattle Movement Content -->
        <!-- ================================== -->
        <div class="container-fluid content content-2 hidden">
            <div class="row">
                <div class="col-lg-2">
                    <div class="govuk-heading-m" style="background:#d1d1d1;padding:10px;margin-top:10px;margin-bottom: 1px;">
                        Enter Sample
                    </div>
                    <div>
                        <!-- Element: input sample box for main cattle movement -->
                        <p>
                            <!-- Ear-Tag or AF number -->
                            <input type="text" class="input__sampleID" id="input__sampleID--1" placeholder="e.g. UK705113600438" name="Name" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="input-tooltip" title="Eartag or AF Number">
                        </p>
                        <!-- Element: button to show main cattle movement -->
                        <button type="button" class="govuk-button" style="margin-bottom: 10px;" data-module="govuk-button" id="btn_show-movements">Show Cattle Movement</button>
                    </div>
                    <br>
                    <!-- Element: toggle movement lines for main cattle movement -->
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="toggle__movement-lines--1" disabled="disabled" type="checkbox" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="toggle__movement-lines--1">Toggle Movement Lines</label>
                        </div>
                    </div>
                    <br> 
                    <!-- Element: dropdown box for inputting a second cattle movement -->
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <button class="accordion-button collapsed" id="btn__cattle-movement--1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <!-- Element: title text and style for dropdown box -->
                                <span style="font-weight: bold;font-size: 17px; color: black;">Add Another Movement</span>
                            </button>
                          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div>
                                    <!-- Element: input sample box for second cattle movement -->
                                    <p>
                                        <input type="text" class="input__sampleID" id="input__sampleID--2" disabled="disabled" placeholder="e.g. UK705113600438" name="Name" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="input-tooltip" title="Eartag or AF Number">
                                    </p>
                                    <!-- Element: button to show second cattle movement -->
                                    <button type="button" class="govuk-button" id="btn__cattle-movement--2" disabled="disabled" style="margin-bottom: 10px;" data-module="govuk-button">Show Second Movement</button>
                                    <br>
                                    <!-- Element: toggle movement lines for second cattle movement -->
                                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="toggle__movement-lines--2" disabled="disabled" type="checkbox" checked>
                                            <label class="govuk-label govuk-checkboxes__label" for="toggle__movement-lines--2">Toggle Movement</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <br>
                    <div>
                        <p class="fs-5 fw-bold">
                            Layers
                        </p>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="countyBox" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label" for="countyBox">Counties</label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="riskAreasBox" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label" for="riskAreasBox">Risk Areas</label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="homeRangesBox" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label" for="homeRangesBox">Home Ranges</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="govuk-heading-m" style="background:#d1d1d1;padding:10px;margin-top:30px;">
                        SNP Distance
                    </div>
                    <div>
                        <!-- Element: SNP range slider -->
                        <input type="range" class="form-range" id="slider__snp-threshold" min="0" max="10" step="1" id="snpThreshold" disabled="disabled" value="3">
                        <button class="govuk-button" id="btn__related-isolates" disabled="disabled" aria-disabled="true"  data-module="govuk-button">
                            Show Related Isolates
                        </button>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-popup" id="map" style="margin-top:10px;"></div>
                </div>
            </div>
        </div>
        <!-- ================================== -->
        <!-- SNP Matrix Content -->
        <!-- ================================== -->
        <div class="container-fluid content content-3 hidden" style="margin-top: 10px;">
            <!-- SNP Matrix Content -->
            <div style="margin-top: 10px">
                <iframe src="https://tomjenkins.shinyapps.io/SNP_Matrix_User_Testing/" frameborder="0" height="800px" width="100%"></iframe>
            </div>
        </div>

        <!-- ================================== -->
        <!-- Nextstrain Content -->
        <!-- ================================== -->
        <div class="container-fluid content content-4" style="margin-top: 5px;">
            <div class="row" id="filter-clade">
                <div>
                    <p id="home-view-bovis-description">
                        <font color="#00703c">Nextstrain</font>
                    </p>
                </div>
                <div>
                    <p>
                        <!-- Element: hyperlink to Zika example -->
                        <a id="link_toZika"><font color="#0000EE">Clade Zika</font></a>
                    </p>
                </div>
            </div>
            <!-- <iframe src="https://nextstrain.org/" frameborder="0" height="850px" width="100%"></iframe> -->
            <!-- <iframe src="http://127.0.0.1:1234" frameborder="0" height="850px" width="100%"></iframe> -->
        </div>

        <!-- ================================== -->
        <!-- Help and Support Content -->
        <!-- ================================== -->
        <div class="container content content-5 hidden">
            <div class="row">
                <p id="home-view-bovis-description">
                    <font color="#00703c">Help and Support</font>
                </p>
            </div>
            <div class="row">
                <div class="col-6 home-box" style="margin-right: 10px;">
                    <strong>Support Documents</strong>
                    <p>
                        <ul style="line-height: 200%;">
                            <li><a id="ln_glossary"><font color="#0000EE">Glossary of Terms</font></a></li>
                            <li><a><font color="#0000EE">How To Use This App</font></a></li>
                            <li><a><font color="#0000EE">Link To SharePoint Home Page</font></a></li>                   
                        </ul>
                    </p>
                    <p style="margin-top: 60px;">
                        <img src="/static/img/FeedbackForm_Hira_v2.svg" width="40px">
                        Click <a id="ln_glossary"><font color="#0000EE">here</font></a> to submit feedback for this app
                    </p>
                </div>
                <div class="col-6 home-box" style="margin-left: 10px;">
                    <strong>Phylogenetic Tree Interpretation Video</strong>
                    <div>
                        <iframe width="100%" height="315" style="margin-top: 15px;" src="https://www.youtube.com/embed/QasuKryesOQ" title="Module 1.3 - How to read a phylogenetic tree" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <p id="home-help-declaration">
                    Please report any errors or issues to the <a><font color="#0000EE">ViewBovis User MS Teams Channel</font></a>.
                </p>
            </div>
            <div class="footer fs-6 fw-bold text-muted" style="bottom: -7.35rem;">
                <div class="float-start">A Defra Digital, Data and Technology Service</div>
                <!-- // Accessibility Statement Modal -->
                <!-- // Purpose: popup information about accessibility on click -->
                <div class="float-end text-decoration-underline" data-bs-toggle="modal" data-bs-target="#accessibilityModal2" style="cursor: pointer;">Accessibility Statement</div>
                <!-- Bootstrap modal -->
                <div class="modal fade" id="accessibilityModal2" tabindex="-1" aria-labelledby="accessibilityModalLabel2" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-3 fw-bold" id="accessibilityModalLabel2">Accessibility Statement for View Bovis</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body fs-6">
                          <p>
                            This application is maintained by The Animal and Plant Health Agency under XXX. We want as many people as possible to be able to use this application. For example, that means you should be able to:
                          </p>
                          </br>
                          <ul class="list-group">
                            <li class="list-group-item">Statement 1</li>
                            <li class="list-group-item">Statement 2</li>
                            <li class="list-group-item">Statement 3</li>
                            <li class="list-group-item">Statement 4</li>
                            <li class="list-group-item">Statement 5</li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn govuk-button" data-bs-dismiss="modal" style="margin-bottom: 0;">Close</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- JavaScript -->
    <script src="/static/libraries/leaflet-1.9.3/leaflet.js"></script>
    <script src="/static/libraries/bootstrap-5.2.3-dist/bootstrap.bundle.min.js"></script>
    <script src="/static/libraries/govuk-frontend-4.4.1/govuk-frontend-4.4.1.min.js"></script>
    <script src="/static/js/leaflet.shpfile.js"></script>
    <script src="/static/js/shp.js"></script>
    <script src="/static/js/leaflet.geometryutil.js"></script>
    <script src="/static/js/leaflet-arrowheads.js"></script>
    <script src="/static/js/L.LinearMeasurement.js"></script>
    <script src="/static/js/cattleMovement.js"></script>
    <script src="/static/js/main.js"></script>
    </body>
</html>